{
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.njk"],
      "options": {
        "parser": "jinja-template"
      }
    },
    {
      "files": "_data/work.yaml",
      "options": {
        "printWidth": 100000
      }
    }
  ]
}
