---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {%- for page in collections.all %}
    {% set absoluteUrl %}{{ page.url | htmlBaseUrl(metadata.url) }}{% endset %}
    <url>
      <loc>{{ absoluteUrl }}</loc>
      <lastmod>{{ page.date | htmlDateString }}</lastmod>
    </url>
  {%- endfor %}
  {# NOTE: The next loop is necessary as for some reason project-pages besides /work/cal-adapt/ are not being added to collections.all, perhaps because they are generated programatically from the work.json global data? #}
  {%- for project in work %}
    {%- set slugified %}/work/{{ project.title | slugify }}/{% endset %}
    {%- set absoluteUrl %}{{ slugified | htmlBaseUrl(metadata.url) }}{% endset %}
    <url>
      <loc>{{ absoluteUrl }}</loc>
      <lastmod>{{ project.date | dateFromISOString }}</lastmod>
    </url>
  {%- endfor %}
</urlset>
