---
layout: layouts/home.njk
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: Archive
  order: 3
---
<h1>Blog Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
