nav.pagination > ol {
  --gap: 0.5rem;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

nav.pagination a[href],
nav.pagination a[href]:visited,
nav.pagination a[href]:hover {
  color: var(--color-accent);
  text-decoration: none;
}

nav.pagination a[href]:focus-visible {
  box-shadow: var(--focus-style-box-shadow);
  text-decoration: none;
}

nav.pagination li a[href] {
  padding: 0.75rem var(--padding);
}
