/* code borrowed from: https://formspree.io/library/simple-contact-form/ */
/* reset */
#fs-frm input,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm label {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

#fs-frm ::placeholder {
  color: #333;
  opacity: 1;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea {
  color: #333;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus {
  outline: none;
}
#fs-frm [type="submit"] {
  margin-bottom: 0;
}

/* recaptcha */
#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -50px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
}
