main {
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: 3rem;
}

.banner {
  width: 100%;
  aspect-ratio: 5 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.banner h1 {
  text-transform: uppercase;
  text-shadow: 2px 3px 3px #000;
  letter-spacing: 0.1em;
  font-size: 3.75rem;
  font-weight: bold;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* TODO: use container query? */
@media (max-width: 400px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
}

.card + .card {
  margin-top: 0;
}

.card {
  max-width: 60ch;
}

.card > * + * {
  margin-top: 0.75rem;
}

.card :last-child {
  margin-top: auto;
  align-self: flex-start;
  flex-grow: 0;
}

.card :nth-last-child(2) {
  margin-bottom: 0.75rem;
  flex-grow: 1;
}
