main {
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: var(--padding-lg);
}

section:first-of-type {
  margin-top: -4rem;
}

section:last-of-type {
  margin-bottom: 0;
}

.banner {
  width: 100%;
  aspect-ratio: 4 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.banner h1 {
  text-transform: uppercase;
  text-shadow: 2px 3px 3px #000;
  letter-spacing: 0.1em;
  font-size: 3.75rem;
  font-weight: bold;
}

.cards-container {
  --card-margin: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media screen and (min-width: 800px) {
  .cards-container {
    --card-margin: 0.75rem;
    flex-direction: row;
    gap: 1.25rem;
  }
}

.card {
  flex-grow: 1;
  flex-basis: content;
}

.card .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0;
}

@media screen and (min-width: 800px) {
  .card .text {
    padding: 1.25rem;
  }
}

.card .text > *:first-child {
  margin-bottom: 0;
}

.card .text > * + * {
  margin-top: var(--card-margin);
}

.card .text > *:last-child {
  margin-top: auto;
  min-width: 11.25rem;
}

.card .text > *:nth-last-child(2) {
  margin-bottom: var(--card-margin);
}
