header {
  max-width: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: var(--main-nav-height);
  display: flex;
  line-height: var(--main-nav-height);
  background-color: var(--background-color);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

header a[href] {
  padding: 0 1.25rem;
  display: inline-block;
  text-decoration: none;
}

nav {
  flex-grow: 1;
}

/* TODO: default to hamburger nav */
nav > ul {
  position: relative;
  display: none;
}

nav.open > ul {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 63.5rem) {
  /* ~1016px switch to horizontal navigation */
  nav > ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

nav ul li > ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: var(--background-color);
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
}

nav ul li:focus-within > ul,
nav ul li:hover > ul {
  overflow: auto;
  width: auto;
  height: auto;
  clip-path: none;
}
