header {
  max-width: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: var(--main-nav-height);
  display: flex;
  justify-content: space-between;
  line-height: var(--main-nav-height);
  background-color: var(--background-color);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  isolation: isolate;
  z-index: 1;
  background-color: var(--background-color);
}

@media screen and (min-width: 43rem) {
  header {
    justify-content: flex-start;
  }
}

header a[href] {
  padding: 0 1.25rem;
  display: inline-block;
  text-decoration: none;
}

a[href].home-link {
  padding-left: 0;
}

a[href].skip-link {
  position: absolute;
  top: var(--main-nav-height);
  left: 1rem;
  background-color: var(--background-color);
}

button.nav-button {
  margin-left: auto;
}

@media screen and (min-width: 43rem) {
  button.nav-button {
    display: none;
  }
}

@media screen and (min-width: 43rem) {
  nav {
    flex-grow: 1;
  }
}

nav > ul {
  position: absolute;
  top: var(--main-nav-height);
  right: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

nav > ul.hidden {
  display: none;
}

@media screen and (min-width: 43rem) {
  /* at 784px width switch to horizontal navigation */
  nav > ul {
    position: relative;
    top: auto;
    right: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    z-index: auto;
  }
}

@media screen and (min-width: 43rem) {
  nav ul > li:nth-child(3n) {
    margin-right: auto;
  }
}

nav ul li > ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: var(--background-color);
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
}

nav ul li:focus-within > ul,
nav ul li:hover > ul {
  overflow: auto;
  width: auto;
  height: auto;
  clip-path: none;
}
