header {
  /* NOTE: keeps the nav list dropdown a similar width to its corresponding link / list item */
  --min-nav-link-width: 6rem;
  max-width: none;
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: var(--main-nav-height);
  background-color: var(--background-color-secondary);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  isolation: isolate;
  z-index: 1;
}

@media screen and (min-width: 46.75rem) {
  header {
    flex-direction: row;
    height: var(--main-nav-height);
  }
}

header > div {
  display: flex;
}

header a[href] {
  padding: 0 1.25rem;
  display: inline-block;
  text-decoration: none;
}

header a[href]:visited {
  color: var(--text-color-link);
}

header a[href]:hover {
  color: var(--color-accent-focus);
  background-color: var(--color-accent-bg-hover);
}

header a[href]:focus-visible,
header button.nav-button:focus-visible {
  outline: none;
  box-shadow: inset var(--focus-style-box-shadow);
}

header a[href].skip-link {
  position: absolute;
  top: var(--main-nav-height);
  left: 1rem;
  background-color: var(--background-color-secondary);
  z-index: 1;
}

header a[href].skip-link:focus-visible {
  height: auto;
  width: auto;
  clip: initial;
  clip-path: initial;
  overflow: initial;
  white-space: initial;
}

@media screen and (min-width: 46.75rem) {
  /* down arrow for menu items with nested children */
  header nav a[href].with-arrow-down {
    position: relative;
    padding-right: 2rem;
  }

  header nav a[href].with-arrow-down::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 1.9375rem;
    margin-top: -2.5px;
    margin-right: 0.75rem;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
  }
}

button.nav-button {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  color: var(--text-color-link);
  background-color: transparent;
}

@media screen and (min-width: 46.75rem) {
  button.nav-button {
    display: none;
  }
}

@media screen and (min-width: 46.75rem) {
  nav {
    flex-grow: 1;
  }
}

.js-enabled nav > ul {
  position: relative;
  display: none;
  text-align: center;
  background-color: var(--background-color-secondary);
}

.js-enabled nav > ul.expanded {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 46.75rem) {
  /* at 784px width switch to horizontal navigation */
  .js-enabled nav > ul,
  nav > ul {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: start;
  }
}

nav ul li a {
  border-bottom: 1px solid;
}

@media screen and (min-width: 46.75rem) {
  nav ul > li:nth-last-child(2) {
    margin-left: auto;
  }

  nav ul li a {
    min-width: var(--min-nav-link-width);
    border-bottom: none;
  }
}

@media screen and (min-width: 46.75rem) {
  nav ul li > ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-secondary);
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
  }

  nav ul li:focus-within > ul,
  nav ul li:hover > ul {
    overflow: auto;
    min-width: var(--min-nav-link-width);
    width: auto;
    height: auto;
    clip-path: none;
  }

}

nav ul li,
nav ul li a {
  width: 100%;
}

@media screen and (min-width: 46.75rem) {
  nav ul li,
  nav ul li a {
    width: auto;
  }
}
