header {
  /* keeps the nav list dropdown a similar width to its corresponding link / list item */
  --min-nav-link-width: 6rem;
  max-width: none;
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: var(--main-nav-height);
  background-color: var(--background-color);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  isolation: isolate;
  z-index: 1;
  background-color: var(--background-color);
}

@media screen and (min-width: 43rem) {
  header {
    flex-direction: row;
    height: var(--main-nav-height);
  }
}

header > div {
  display: flex;
}

header a[href] {
  padding: 0 1.25rem;
  display: inline-block;
  text-decoration: none;
}

header a[href]:focus-visible,
header button.nav-button:focus-visible {
  box-shadow: inset var(--focus-style-box-shadow);
}

header a[href].skip-link {
  position: absolute;
  top: var(--main-nav-height);
  left: 1rem;
  background-color: var(--background-color);
  z-index: 1;
}

header a[href].skip-link:focus-visible {
  height: auto;
  width: auto;
  clip: initial;
  clip-path: initial;
  overflow: initial;
  white-space: initial;
}

button.nav-button {
  margin-left: auto;
}

@media screen and (min-width: 43rem) {
  button.nav-button {
    display: none;
  }
}

@media screen and (min-width: 43rem) {
  nav {
    flex-grow: 1;
  }
}

nav > ul {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-color);
  z-index: 1;
}

nav > ul.hidden {
  display: none;
}

@media screen and (min-width: 43rem) {
  /* at 784px width switch to horizontal navigation */
  nav > ul {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: auto;
    z-index: auto;
  }
}

nav ul li a {
  border-bottom: 1px solid;
}

@media screen and (min-width: 43rem) {
  nav ul > li:nth-child(4n) {
    margin-left: auto;
  }

  nav ul li a {
    min-width: var(--min-nav-link-width);
    border-bottom: none;
  }
}

@media screen and (min-width: 43rem) {
  nav ul li > ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: var(--background-color);
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
  }

  nav ul li:focus-within > ul,
  nav ul li:hover > ul {
    overflow: auto;
    min-width: var(--min-nav-link-width);
    width: auto;
    height: auto;
    clip-path: none;
  }

}

nav ul li,
nav ul li a {
  width: 100%;
}

@media screen and (min-width: 43rem) {
  nav ul li,
  nav ul li a {
    width: auto;
  }
}
