h1,
h2,
h3 {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 2.5rem;
}

ul.screenshots,
ul.tech-tags {
  padding: 0;
  display: flex;
  gap: 1rem;
}

ul.screenshots {
  flex-direction: column;
}

ul.screenshots li,
ul.tech-tags li {
  list-style: none;
}

ul.screenshots li {
  margin-bottom: 1.25rem;
}

ul.screenshots li:last-child {
  margin-bottom: 0;
}

nav.secondary {
  margin-bottom: 3rem;
}

nav.secondary a {
  text-decoration: none;
}
