/* credit: https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
  width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.font-mono {
  font-family: var(--font-family-monospace);
}

/* credit: https://codepen.io/maddesigns/pen/rOMgpQ/ */
.full-viewport-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.button {
  display: inline-block;
  inline-size: fit-content;
  touch-action: manipulation;
  user-select: none;
  padding: 0.75rem 1.75rem;
  background-color: var(--color-accent-bg);
  color: var(--color-accent);
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
}

a[href].button:visited {
  color: var(--color-accent);
}

.button:hover {
  background-color: var(--color-accent-bg-hover);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: var(--focus-style-box-shadow);
}
