:root {
  --button-bg-active: #307b6c;
  --button-bg: #45b29d;
}

div[role="group"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}

div[role="group"] > button {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  background-color: var(--button-bg);
  border: none;
}

div[role="group"] > button[aria-pressed="true"] {
  color: #fff;
  background-color: var(--button-bg-active);
}

ul.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
}

ul.tags {
  display: flex;
  justify-content: baseline;
  gap: 1rem;
}

/* Card layout credit: https://inclusive-components.design/cards/ */
li.card,
li.tag {
  list-style: none;
}

li.card,
li.card > .text {
  display: flex;
  flex-direction: column;
}

li.card .text {
  flex-grow: 1;
  padding: 1.25rem;
}

li.card .text > * + * {
  margin-top: 0.75rem;
}

li.card .text > *:last-child {
  margin-top: auto;
}

li.card .text > *:nth-last-child(2) {
  margin-bottom: 0.75rem;
}

li.card .img {
  height: 8rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));
}

li.card .img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

li.card {
  position: relative;
  border: 1px solid;
  border-radius: var(--border-radius);
  cursor: pointer;
}

li.card[hidden] {
  display: none;
}

li.card:hover,
li.card:focus-within {
  border: 1px solid transparent;
  box-shadow: 0 0 0 0.25rem var(--color-accent);
}

li.card h2 {
  font-size: 1.25em;
}

li.card a[href] {
  text-decoration: none;
}

li.card a[href],
li.card a[href]:hover {
  color: var(--text-color);
}

li.card a[href]:focus {
  text-decoration: underline;
}

li.card:focus-within a[href]:focus {
  text-decoration: none;
  outline: none;
}

li.card a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

ul.tags > li.tag {
  font-size: 0.8em;
  margin: 0;
}
