---
permalink: /_redirects
eleventyExcludeFromCollections: true
---

{# NOTE: adds Netlify redirect instructions for all pages with a `redirectFrom : <url>` in the front matter #}
{%- for page in collections.all %}
  {%- if page.url and page.data.redirectFrom %}
    {%- for oldUrl in page.data.redirectFrom %}
      {# prettier-ignore-start #}
      {{ oldUrl }} {{ page.url }}
      {# prettier-ignore-end #}
    {%- endfor %}
  {%- endif %}
{%- endfor %}
