---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
{# adds Netlify redirect instructions for all pages with a `redirectFrom : <url>` in the front matter #}
{% for page in collections.all %}{% if page.url and page.data.redirectFrom %}
{{ page.data.redirectFrom }}  {{ page.url }}
{% endif %}{% endfor %}
