---
title: "Blog Archive"
description: "All blog posts by Chris Henrick"
layout: layouts/home.njk
permalink: "/blog/archive/"
eleventyNavigation:
  parent: Blog
  key: Archive
---

{%- set partials %}
  components/posts-list
{%- endset -%}
{%- set bucket = "archive" %}
{% include "styles.njk" %}

<h1>Blog Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
