---
title: "Blog"
description: "The blog of Chris Henrick"
permalink: "/blog{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber }}{% endif %}/"
layout: layouts/home.njk
eleventyNavigation:
  key: "Blog"
  order: 4
pagination:
  data: "collections.posts"
  size: 5
  alias: "posts"
  reverse: true
---
{%- set partials %}
  components/posts-list,
  pages/blog
{%- endset -%}
{%- set bucket = "blog" %}
{% include "styles.njk" %}

<h1>Blog</h1>
{%- set pageIndex = pagination.hrefs | findIndex(page.url) %}
<p>Page {{ pageIndex + 1 }} of {{ pagination.pages.length }}</p>

{% set postslist = posts | reverse %}
{% include "postslist.njk" %}

<nav class="pagination" aria-labelledby="pagination">
  <span id="pagination" hidden>Pagination</span>
  <ol role="list" class="inline">
    {# previous page #}
    <li>
      <a
        class="button previous-next"
        rel="prev"
        {%- if pagination.href.previous %}href="{{ pagination.href.previous }}"{% endif %}
      >
        Previous
      </a>
    </li>
    {# next page #}
    <li>
      <a
        class="button previous-next"
        rel="next"
        {%- if pagination.href.next %}href="{{ pagination.href.next }}"{% endif %}
      >
        Next
      </a>
    </li>
{%- for pageEntry in pagination.pages %}
    <li><a class="button" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
{%- endfor %}
    <li>{% if pagination.href.next %}<a class="button" rel="next" href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
  </ol>
  <a class="button" href="/blog/archive/">Blog Archive</a>
</nav>
