---
title: "Blog"
description: "The blog of Chris Henrick"
permalink: "/blog{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber }}{% endif %}/"
layout: layouts/home.njk
eleventyNavigation:
  key: "Blog"
  order: 4
pagination:
  data: "collections.posts"
  size: 5
  alias: "posts"
  reverse: true
---

{%- set partials %}
  components/posts-list, pages/blog
{%- endset -%}
{%- set bucket = "blog" %}
{% include "styles.njk" %}

<h1>Blog</h1>
{%- set pageIndex = pagination.hrefs | findIndex(page.url) %}
<p>Page {{ pageIndex + 1 }} of {{ pagination.pages.length }}</p>

{% set postslist = posts | reverse %}
{% include "postslist.njk" %}

{%- macro previousNextLink(href, isPrev = true) %}
  <a
    class="button previous-next"
    rel="{{ "prev" if isPrev else "next" }}"
    {%- if href %}
      href="{{ href }}"
    {%- else %}
      role="link" aria-disabled="true"
    {%- endif %}
  >
    {{ "Previous" if isPrev else "Next" }}
    <span class="visually-hidden">page</span>
    {%- if not href %}
      <span class="visually-hidden">(unavailable)</span>
    {%- endif %}
  </a>
{%- endmacro %}

<nav class="pagination" aria-labelledby="pagination-title">
  <h2 id="pagination-title">More blog posts</h2>
  <ul role="list" class="inline">
    {# NOTE: previous and next links are first to aid keyboard navigation (why tab through all the links to get to "next"?) #}
    {# previous page #}
    <li>
      {%- set href = pagination.href.previous %}
      {{ previousNextLink(href) }}
    </li>
    {# next page #}
    <li>
      {%- set href = pagination.href.next %}
      {{ previousNextLink(href, false) }}
    </li>
    {%- for pageEntry in pagination.pages %}
      <li>
        <a
          class="button"
          href="{{ pagination.hrefs[ loop.index0 ] }}"
          {% if page.url == pagination.hrefs[ loop.index0 ] %}aria-current="page"{% endif %}
        >
          {{ loop.index }}
        </a>
      </li>
    {%- endfor %}
  </ul>
  <p>
    You may view all posts in the <a href="/blog/archive/">Blog Archive</a>.
  </p>
</nav>
