---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

{%- css %}{% include "public/css/home.css" %}{% endcss %}

<style>
  {% getBundle "css" %}
</style>

<section class="banner full-viewport-width">
  <h1>Chris L Henrick</h1>
</section>

<section>
  <h2 class="visually-hidden">Services</h2>
  <ul class="cards-container" role="list">
    {% for service in services %}
    <li class="card">
      <div class="text">
        <h3>{{service.title}}</h3>
        <p>{{service.description}}</p>
        <a class="button" href="{{service.url}}">{{service.cta}}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2>Latest blog articles</h2>
</section>

{# TODO #}
