---
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
---

{%- set partials %}
  components/posts-list,
  pages/home
{%- endset %}
{%- set bucket = "home" %}
{% include "styles.njk" %}

<section class="banner full-viewport-width">
  <picture>
    <source
      srcset="/img/oakland-map-light-400w.webp 400w,
        /img/oakland-map-light-800w.webp 800w,
        /img/oakland-map-light-1200w.webp 1200w,
        /img/oakland-map-light-1600w.webp 1600w,
        /img/oakland-map-light-2400w.webp 2400w,
        /img/oakland-map-light-3200w.webp 3200w"
      media="(prefers-color-scheme: light)"
      sizes="100vw"
    />
    <source
      srcset="/img/oakland-map-light-400w.jpeg 400w,
        /img/oakland-map-light-800w.jpeg 800w,
        /img/oakland-map-light-1200w.jpeg 1200w,
        /img/oakland-map-light-1600w.jpeg 1600w,
        /img/oakland-map-light-2400w.jpeg 2400w,
        /img/oakland-map-light-3200w.jpeg 3200w"
      media="(prefers-color-scheme: light)"
      sizes="100vw"
    />
    <source
      srcset="/img/oakland-map-dark-400w.webp 400w,
        /img/oakland-map-dark-800w.webp 800w,
        /img/oakland-map-dark-1200w.webp 1200w,
        /img/oakland-map-dark-1600w.webp 1600w,
        /img/oakland-map-dark-2400w.webp 2400w,
        /img/oakland-map-dark-3200w.webp 3200w"
      media="(prefers-color-scheme: dark)"
      sizes="100vw"
    />
    <source
      srcset="/img/oakland-map-dark-400w.jpeg 400w,
        /img/oakland-map-dark-800w.jpeg 800w,
        /img/oakland-map-dark-1200w.jpeg 1200w,
        /img/oakland-map-dark-1600w.jpeg 1600w,
        /img/oakland-map-dark-2400w.jpeg 2400w,
        /img/oakland-map-dark-3200w.jpeg 3200w"
      media="(prefers-color-scheme: dark)"
      sizes="100vw"
    />
    <img
      src="/img/oakland-map-light-1600w.jpeg"
      width="1600"
      height="785"
      sizes="100vw"
      alt="A geographic map of Oakland, California centered on Lake Merritt."
    />
  </picture>
  <div class="banner-text">
    <h1>Chris Henrick</h1>
    <p>Front-End Web Developer &amp; Design Engineer</p>
  </div>
</section>

<section>
  <h2>You may be interested in:</h2>
  <ul class="cards-container" role="list">
    {% for service in services %}
      <li class="card">
        <div class="text">
          <h3>{{service.title}}</h3>
          <p>{{service.description}}</p>
          <a class="button" href="{{service.url}}">{{service.cta}}</a>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  {%- set postsCount = collections.posts | length %}
  {%- set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
  <h2>Latest Blog Posts</h2>

  {%- set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
  {%- set postslistCounter = postsCount %}
  {%- set headingLevel = 3 %}
  {%- include "postslist.njk" %}

  {%- set morePosts = postsCount - numberOfLatestPostsToShow %}
  {%- if morePosts > 0 %}
    <p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/archive/">the archive</a>.</p>
  {%- endif %}
</section>
