---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
description: "The blog of Chris Henrick"
eleventyComputed:
  title: Blog posts tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---

<h1>{{ title }}</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="/tags/">all tags</a>.</p>
