---
title: "Portfolio"
eleventyNavigation:
  key: Work
  order: 2
---

{%- set partials %}
  components/project-card,
  pages/work
{%- endset %}
{%- set bucket = "work" %}
{% include "styles.njk" %}

{% from "components/projectCard.njk" import projectCard %}

<h1>Portfolio</h1>

<details open>
  <summary>About</summary>
  <p>
  Featured projects I've created or contributed to over the years. This work spans the domains of web development and design, interactive data visualization, user interface design, interaction design, and cartographic design.
</p>
</details>

<details open data-id="project-filters-disclosure">
  <summary id="filter-projects-title">Filter Projects</summary>
  <div role="group" class="project-filters" aria-labelledby="filter-projects-title">
    <button value="all" class="button filter" aria-pressed="true">all</button>
    <button value="web" class="button filter" aria-pressed="false">interactive</button>
    <button value="data-viz" class="button filter" aria-pressed="false">data viz</button>
    <button value="cartography" class="button filter" aria-pressed="false">cartography</button>
    <button class="button shuffle">shuffle!</button>
  </div>
</details>

<ul class="cards-container" role="list">
  {% for project in work %}
    {# NOTE: this uses global image thumbnail data and the dataCascadeImage shortcode  #}
    {%- set basename = project.thumb | replace(".jpg", "") | replace(".png", "") %}
    {%- set thumb = work_image_thumbnails[basename] %}
    {{ projectCard(project, thumb) }}
  {% endfor %}
</ul>

<div id="announce" class="visually-hidden" aria-live="polite"></div>

{%- set javascripts -%}
  work,
  disclosure-widgets
{%- endset -%}
{%- set bucket = "work" -%}
{%- include "scripts.njk" -%}
