---
layout: layouts/work.njk
eleventyNavigation:
  key: Work
  order: 2
---

<h1>Portfolio</h1>

<div role="group" aria-label="filter projects">
  <button value="all" class="button" aria-pressed="true">all</button>
  <button value="web" class="button">interactive</button>
  <button value="data-viz" class="button">data viz</button>
  <button value="cartography" class="button">cartographic design</button>
  <button value="shuffle" class="button">shuffle!</button>
</div>

<ul class="cards-container">
  {% for project in work %}
  <li class="card">
    <div class="img">
      <img
        src="/img/{{ project.thumb }}"
        alt=""
        loading="lazy"
        decoding="async"
      >
    </div>
    <div class="text">
      <h2>
        <a href="./{{ project.title | slugify }}/">{{ project.title }}</a>
      </h2>
      <p>{{ project.description }}</p>
      {% if project.tags %}
      <ul class="tags">
        {% for tag in project.tags %}
          <li class="tag">{{tag}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>

<script defer src="/js/work.js"></script>
