---
pagination:
  data: work
  size: 1
  alias: project
permalink: "work/{{ project.title | slugify }}/"
eleventyComputed:
  title: "{{ project.title }}, Portfolio"
  kofiUrl: "{{ metadata.socialLinks.get('Ko-Fi') }}"
  description: "{{ project.description }}"
  eleventyNavigation:
    key: "{{ project.title }}"
    parent: "work"
---

{%- set partials %}
  components/disclosure, components/embed, components/kofi, pages/project-pages
{%- endset %}
{%- set bucket = "project-pages" %}
{% include "styles.njk" %}
{% from "components/kofi.njk" import kofi %}
{% from "components/embed.njk" import embed %}

<section>
  <h1>{{ project.title }}</h1>

  <p>{{ project.description | markdownInline | safe }}</p>

  <dl>
    {% if project.date %}
      <div>
        <dt>Date:</dt>
        <dd>{{ project.date | dateFromISOString("LLLL d, yyyy") }}</dd>
      </div>
    {% endif %}

    {% if project.link %}
      <div>
        <dt>Project link:</dt>
        <dd>
          <a href="{{ project.link }}">{{ project.title }}</a>
        </dd>
      </div>
    {% endif %}

    {% macro formatGitHubLink(text) %}
      {{ text | replace("https://", "") | replace("github", "GitHub", 1) }}
    {% endmacro %}

    {% if project.code %}
      <div>
        <dt>Code:</dt>
        {% if project.code | isArray %}
          {% for link in project.code %}
            <dd>
              <a href="{{ link }}">{{ formatGitHubLink(link) }}</a>
            </dd>
          {% endfor %}
        {% else %}
          <dd>
            <a href="{{ project.code }}"
              >{{ formatGitHubLink(project.code) }}</a
            >
          </dd>
        {% endif %}
      </div>
    {% endif %}
  </dl>
</section>

{% if project.tech %}
  <section>
    <h2>Technologies Used</h2>
    <ul class="tech-tags" role="list" translate="no">
      {% for tag in project.tech %}
        <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

<section>
  <h2>Project Details</h2>
  {% if project.description_long %}
    <details open>
      <summary>About {{ project.title }}</summary>
      {{ project.description_long | markdown | safe }}
    </details>
  {% endif %}

  {% if project.video %}
    {{ embed(project.video.thumb, project.video.embed, project.video.title, project.video.desc) }}
  {% endif %}

  {% if project.imgs %}
    <ul class="screenshots" role="list">
      {% for img in project.imgs %}
        <li>
          {%- set altText %}Screenshot {{ loop.index }} of {{ project.title }}{%- endset %}
          {%- if project.imgsAlt -%}
            {%- set altText = project.imgsAlt[loop.index0] -%}
          {%- endif -%}
          {# NOTE: the code below uses the image shortcode #}
          {%- image img, altText, constants.IMAGE_WIDTHS_WIDE_PAGE_LAYOUT, constants.IMAGE_SIZES_WIDE_PAGE_LAYOUT %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>

{{ kofi(kofiUrl, "project") }}

<nav class="secondary" aria-label="secondary">
  <a href="/work/">
    <span aria-hidden="true" class="back-arrow">&#8619;</span> Go back to the
    Portfolio
  </a>
  <a href="#main" aria-labelledby="back-top">
    <span id="back-top" hidden>Go back to top of page</span>
    <span aria-hidden="true">&#8679;</span>
  </a>
</nav>

{%- set javascripts -%}
  disclosure-widgets
{%- endset -%}
{%- set bucket = "project-pages" -%}
{%- include "scripts.njk" -%}
