---
pagination:
  data: work
  size: 1
  alias: project
permalink: "work/{{ project.title | slugify }}/"
eleventyComputed:
  title: "{{ project.title }}, Portfolio"
  eleventyNavigation:
    key: "{{ project.title }}"
    parent: "work"
---

{%- set partials %}
  components/disclosure,
  components/embed,
  pages/project-pages
{%- endset %}
{%- set bucket = "project-pages" %}
{% include "styles.njk" %}

<section>
  <h1>{{project.title}}</h1>

  <dl>
  {% if project.date %}
    <div>
      <dt>Date:</dt>
      <dd>{{project.date | dateFromISOString("LLLL, yyyy")}}</dd>
    </div>
    {% endif %}

    {% if project.link %}
    <div>
      <dt>Project link:</dt>
      <dd>
        <a href={{project.link}} target="_blank">{{project.title}}</a>
      </dd>
    </div>
    {% endif %}

    {%if project.code %}
    <div>
      <dt>Code:</dt>
      <dd>
        <a href={{project.code}} target="_blank">{{project.code}}</a>
      </dd>
    </div>
  {% endif %}
  </dl>
</section>

{% if project.tech %}
<section>
  <h2>Technologies Used</h2>
  <ul class="tech-tags" role="list">
    {% for tag in project.tech %}
    <li>{{tag}}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<section>
  <h2>Project Details</h2>
  {% if project.description_long %}
    <details open>
      <summary>About {{ project.title }}</summary>
      {{ project.description_long | markdown | safe }}
    </details>
  {% endif %}

  {% if project.video %}
  <div style="--aspect-ratio: 16/9;margin-bottom:2.5rem;">
    <iframe
      width="960"
      height="569"
      src="{{project.video.embed}}"
      srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href={{project.video.embed}}><img src='/img/{{project.video.thumb}}' alt='{{project.video.alt}}'><span aria-hidden='true'>▶</span></a>"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      title="{{project.video.title}}"
    ></iframe>
  </div>
  {% endif %}

  {% if project.imgs %}
  <ul class="screenshots" role="list">
    {% for img in project.imgs %}
    <li>
      {%- set altText %}Screenshot {{loop.index}} of {{project.title}}{%- endset %}
      {# NOTE: the code below uses the image shortcode #}
      {%- image img, altText, constants.IMAGE_WIDTHS_WIDE_PAGE_LAYOUT, constants.IMAGE_SIZES_WIDE_PAGE_LAYOUT %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>

<nav class="secondary" aria-label="secondary">
  <a href="/work/">
    <span aria-hidden="true" class="back-arrow">&#8619;</span> Go back to the Portfolio
  </a>
  <a href="#main" aria-labelledby="back-top">
    <span id="back-top" hidden>Go back to top of page</span>
    <span aria-hidden="true">&#8679;</span>
  </a>
</nav>

{%- set javascripts -%}
  disclosure-widgets
{%- endset -%}
{%- set bucket = "project-pages" -%}
{%- include "scripts.njk" -%}
