<footer class="full-viewport-width">
  <div class="footer-inner">
    <section>
      <h2>About This Site</h2>
      <p>Designed and coded with <span aria-hidden="true">♥</span>
        <span class="visually-hidden">love</span> by
      <a href="/about/">Chris Henrick</a> using
      <a href="https://www.11ty.dev/" target="_blank" rel="noreferrer">Eleventy</a>.
      Hosted on
      <a href="https://netlify.com" target="_blank" rel="noreferrer">Netlify</a>.
    </p>
      <p>
        <span>©</span> Chris Henrick 2015 – current. All rights reserved.
      </p>
      <p>
      Last built on <time datetime="{{ generated.iso }}">{{ generated.formatted }}</time>
      </p>
      <ul class="meta-links inline" role="list">
        <li>
          <a href="/sitemap.xml">Sitemap</a>
        </li>
        <li>
          <a href="https://github.com/clhenrick/portfolio-new" target="_blank" rel="noreferrer">Code on Github</a>
        </li>
        <li>
          <a href="/contact/">Contact</a>
        </li>
        <li>
          <a href="/feed.xml">RSS feed</a>
        </li>
      </ul>
    </section>
    <section>
      <h2>Social Links</h2>
      <ul class="social-links" role="list">
        <li>
          <a href="https://github.com/clhenrick" rel="me" target="_blank" rel="noreferrer">Github</a>
        </li>
        <li>
          <a href="https://indieweb.social/@clhenrick" rel="me" target="_blank" rel="noreferrer">Mastodon</a>
        </li>
        <li>
          <a href="https://observablehq.com/@clhenrick" rel="me" target="_blank" rel="noreferrer">ObservableHQ</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/chrishenrick/" rel="me" target="_blank" rel="noreferrer">LinkedIn</a>
        </li>
        <li>
          <a href="https://twitter.com/chrislhenrick" rel="me" target="_blank" rel="noreferrer">X (Twitter)</a>
        </li>
        <li>
          <a href="https://ko-fi.com/chrislhenrick" target="_blank" rel="noreferrer">Ko-Fi</a>
        </li>
      </ul>
    </section>
  </div>
</footer>
