{# Sitewide head element used in all pages #}
{%- set headTitleBase = title or metadata.author.name %}
{%-
  set headTitle =
  headTitleBase if headTitleBase.includes(metadata.author.name)
  else [headTitleBase, metadata.author.name].join(" – ")
-%}
{%- set headDescription = teaser or description or metadata.description %}
{%- set headImageAlt = imageAlt or metadata.titleImageAlt %}
{%- set headImageType = imageType or metadata.titleImageType %}
{%- set headOGType = "article" if page.url.includes("/blog/") else "website" %}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ headTitle }}</title>
  <meta name="description" content="{{ headDescription }}" />
  <meta
    name="theme-color"
    content="{{ metadata.metaThemeColorDark }}"
    media="(prefers-color-scheme: dark)"
  />
  <meta
    name="theme-color"
    content="{{ metadata.metaThemeColorLight }}"
    media="(prefers-color-scheme: light)"
  />

  {# Favicons, credit: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs #}
  {%- if metadata.environment === "production" %}
    <link rel="icon" href="/favicon/favicon.ico" sizes="32x32" />
    <link
      rel="icon"
      href="/favicon/favicon.svg"
      type="image/svg+xml"
      sizes="any"
    />
  {%- else %}
    <link rel="icon" href="/favicon/favicon-dev.ico" sizes="32x32" />
    <link
      rel="icon"
      href="/favicon/favicon-dev.svg"
      type="image/svg+xml"
      sizes="any"
    />
  {%- endif %}
  <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.webmanifest" />

  {# Let's others know this site was created using 11ty #}
  <meta name="generator" content="{{ eleventy.generator }}" />

  {# webmentions: https://indieweb.org/Webmention #}
  <link rel="webmention" href="{{ metadata.webmentionUrl }}" />

  {# RSS feeds #}
  <link
    rel="alternate"
    href="/feed.xml"
    type="application/atom+xml"
    title="{{ metadata.title }}"
  />
  <link
    rel="alternate"
    href="/feed.json"
    type="application/feed+json"
    title="{{ metadata.title }}"
  />

  {# SEO #}
  <meta
    name="google-site-verification"
    content="hb0oFgJAnd2i2LvJYSEIofF5sc24xc8hx2tTNittvHA"
  />
  <meta name="msvalidate.01" content="2515EC227874C1EE104D3FB4124CC9C5" />

  {# Fediverse author tags #}
  <meta
    name="fediverse:creator"
    content="{{ metadata.socialHandles.get('Mastodon') }}"
  />

  {# Social: Open Graph tags #}
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="{{ headTitle }}" />
  <meta property="og:description" content="{{ headDescription }}" />
  <meta
    property="og:logo"
    content="{{ metadata.url }}{{ metadata.logoImage }}"
  />
  <meta property="og:type" content="{{ headOGType }}" />
  <meta property="og:url" content="{{ metadata.url }}{{ page.url.slice(1) }}" />
  <meta property="og:site_name" content="{{ metadata.title }}" />
  {%- if largeImage %}
    <meta property="og:image" content="{{ metadata.url }}{{ largeImage }}" />
  {%- elif image %}
    <meta property="og:image" content="{{ metadata.url }}{{ image }}" />
  {%- else %}
    <meta
      property="og:image"
      content="{{ metadata.url }}{{ metadata.titleImage }}"
    />
  {%- endif %}
  <meta property="og:image:alt" content="{{ headImageAlt }}" />
  <meta property="og:image:type" content="{{ headImageType }}" />

  {# NOTE: All common CSS used throughout the site are added here. In dev they are created as links, in prod all CSS is concatenated and inlined for a small performance boost. #}
  {%- set partials %}
    base/reset, base/base, base/utils, components/button,
    components/theme-toggle, layouts/header, layouts/footer
  {% endset %}
  {% include "styles.njk" %}

  {# NOTE: prevents a flash of un-themed content. See theme-toggle.js for related code. #}
  {# prettier-ignore-start #}
  <script>const theme=localStorage.getItem("theme");if(theme){document.documentElement.dataset.theme=theme}</script>
  {# prettier-ignore-end #}
</head>
