{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist" role="list">
{% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">
      <h2>
      {%- if post.data.title %}
        {{ post.data.title }}
      {%- else %}
        <code>{{ post.url }}</code>
      {%- endif %}
      </h2>
    </a>
    <div>
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">
        {{ post.date | readableDate }}
      </time>
    </div>
    {{ ' ' }}
    {%- if post.data.teaser -%}
    <p>{{ post.data.teaser }}</p>
    {%- endif %}
	</li>
{% endfor %}
</ol>
