{# Code credit: this approach of handling JavaScript was inspired by https://kittygiraudel.com/2020/12/03/inlining-scripts-and-styles-in-11ty/ #}
{% if partials %}
  {% set paths = partials.split(",") %}
  {% set regExp = r/node_modules/ %}

  {# in production we inline all JavaScript to avoid network requests for our JS for a small performance boost #}
  {% if metadata.environment == 'production' %}
    {%- for path in paths %}
      {% if regExp.test(path) %}
        {%- set path = path | trim %}
        {%- set relativePath = ["../", path] | join %}
        {%- js %}{% include relativePath %}{% endjs %}
      {% else %}
        {%- set path = path | trim %}
        {%- set relativePath = ["../assets/js/", path, ".js"] | join %}
        {%- js %}{% include relativePath %}{% endjs %}
      {% endif %}
    {%- endfor %}

    <script>
      {% getBundle "js" %}
    </script>

  {# in development we load all JS via a <script> so that changes to our JS don't require a manual page refresh #}
  {% else %}
    {% for path in paths %}
      {% if regExp.test(path) %}
        <script defer src="/{{ path | trim }}" />
      {% else %}
        <script defer src="/assets/js/{{ path | trim }}.js" />
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
