---
layout: layouts/base.njk
permalink: "/contact/"
title: "Contact Me"
description: "Contact Chris Henrick"
eleventyNavigation:
  key: Contact
  order: 5
---

{%- set partials %}
  components/forms/form-controls,
  components/button,
  pages/contact
{%- endset %}
{%- set bucket = "contact" %}
{% include "styles.njk" %}

<h1>{{ title }}</h1>

<p>
  You may contact me using the form on this page. You may also email me at <a href="mailto:chrishenrick@gmail.com">chrishenrick@gmail.com</a>.
</p>

<form
  accept-charset="utf-8"
  action="https://formspree.io/f/xoqgkgyk"
  method="post"
  aria-labelledby="form-title"
>
  <span id="form-title" hidden>Contact Chris Henrick</span>

  <div id="form-status" tabindex="-1"></div>

  <label for="full-name">Your Name (required)</label>
  <input
    type="text"
    name="name"
    id="full-name"
    required=""
  >

  <label for="email-address">Your Email Address (required)</label>
  <input
    type="email"
    name="_replyto"
    id="email-address"
    required=""
  >

  <label for="message">Your Message (required)</label>
  <textarea
    rows="5"
    name="message"
    id="message"
    required=""
  ></textarea>

  <input
    type="hidden"
    name="_subject"
    id="email-subject"
    value="Contact Form Submission"
  >

  {# TODO: add honey pot spam filtering: https://help.formspree.io/hc/en-us/articles/360013580813-Honeypot-spam-filtering #}

  <button class="button" type="submit">Submit</button>
</form>

{%- set javascripts = 'contact-form' %}
{%- include "scripts.njk" %}
