---
layout: layouts/base.njk
permalink: "/contact/"
title: "Contact Me"
description: "Contact Chris Henrick"
eleventyNavigation:
  key: Contact
  order: 5
---

{%- set partials %}
  components/forms/form-controls,
  components/button,
  pages/contact
{%- endset %}
{%- set bucket = "contact" %}
{% include "styles.njk" %}

<h1>{{ title }}</h1>

<p>
  You may contact me using the form on this page. You may also email me at <a href="mailto:chrishenrick@gmail.com">chrishenrick@gmail.com</a>.
</p>

<form
  accept-charset="utf-8"
  action="https://formspree.io/f/xoqgkgyk"
  method="post"
  aria-labelledby="form-title"
>
  <span id="form-title" hidden>Contact Chris Henrick</span>

  <label for="full-name">Name</label>
  <input
    type="text"
    name="name"
    id="full-name"
    placeholder="What do I call you?"
    required=""
  >

  <label for="email-address">Email Address</label>
  <input
    type="email"
    name="_replyto"
    id="email-address"
    placeholder="email@example.com"
    required=""
  >

  <label for="message">Message</label>
  <textarea
    rows="5"
    name="message"
    id="message"
    placeholder="Please, no spam here!"
    required=""
  ></textarea>

  <input
    type="hidden"
    name="_subject"
    id="email-subject"
    value="Contact Form Submission"
  >

  <button class="button" type="submit">Submit</button>
</form>
