---
layout: layouts/base.njk
permalink: "/contact/"
title: "Contact Me"
description: "Contact Chris Henrick"
eleventyNavigation:
  key: Contact
  order: 5
---

{%- set partials %}
  components/forms/form-controls, components/button, pages/contact
{%- endset %}
{%- set bucket = "contact" %}
{% include "styles.njk" %}

<h1>{{ title }}</h1>

<p>
  You may contact me using the form on this page. You may also email me at
  <a href="mailto:chrishenrick@gmail.com">chrishenrick@gmail.com</a>.
</p>

<form
  accept-charset="utf-8"
  action="https://formspree.io/f/xoqgkgyk"
  method="post"
  aria-labelledby="form-title"
  aria-describedby="form-status"
>
  <span id="form-title" hidden>Contact Chris Henrick</span>

  <div id="form-status" tabindex="-1" hidden></div>

  <div class="form-control-group">
    <label for="full-name">Your Name (required)</label>
    <p class="form-error-msg" id="full-name-error-msg" hidden></p>
    <input
      type="text"
      name="name"
      id="full-name"
      required=""
      autocomplete="name"
    />
  </div>

  <div class="form-control-group">
    <label for="email-address">Your Email Address (required)</label>
    <p class="form-error-msg" id="email-address-error-msg" hidden></p>
    <input
      type="email"
      name="_replyto"
      id="email-address"
      required=""
      autocomplete="on"
      inputmode="email"
    />
  </div>

  <div class="form-control-group">
    <label for="message">Your Message (required)</label>
    <p class="form-error-msg" id="note-error-msg" hidden></p>
    <textarea
      rows="5"
      name="message"
      id="message"
      required=""
      minlength="120"
      autocomplete="off"
    ></textarea>
  </div>

  <input
    type="hidden"
    name="_subject"
    id="email-subject"
    value="Contact Form Submission"
  />

  {# NOTE: for honey pot spam filtering. See: https://help.formspree.io/hc/en-us/articles/360013580813-Honeypot-spam-filtering #}
  <input id="s-h-p" type="text" name="_gotcha" value="" />

  <button class="button" type="submit">Submit</button>
</form>

{%- set javascripts = 'contact-form' %}
{%- include "scripts.njk" %}
