@media screen and (min-width: 500px) {
  figure.oakland-map {
    min-height: 225px;
    margin-top: var(--spacing-lg);
  }
}

figure.oakland-map {
  min-height: 40vh;
  margin-top: var(--spacing-lg);
}

small.oakland-map-copyright {
  display: block;
  margin: var(--spacing-sm) 0 var(--spacing-lg) 0;
}
