nav.pagination {
  margin-top: var(--spacing-xxxl);
}

nav.pagination > h2 {
  margin-top: 0;
  font-size: var(--text-size-h4);
}

nav.pagination > ol {
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

nav.pagination li a[href] {
  padding: 0.75rem var(--spacing-mmd);
}

/* disabled previous and next links */
nav.pagination li a:not([href]) {
  color: var(--color-text);
  background-color: var(--color-background);
  border-color: var(--color-accent);
  cursor: initial;
}

nav.pagination li a[href].previous-next {
  min-width: 140px;
}

nav.pagination li a[href][aria-current="page"] {
  background-color: var(--color-accent-secondary);
  outline: 2.5px dotted var(--background-color);
  outline-offset: -5px;
}

nav.pagination li a[href][aria-current="page"]:hover {
  background-color: var(--color-accent-secondary);
  border-color: transparent;
  color: var(--color-accent-invert);
}
