nav.pagination {
  --min-list-item-width: 65px;
  margin-top: var(--spacing-xxxl);
}

nav.pagination > h2 {
  margin-top: 0;
  font-size: var(--text-size-h4);
}

nav.pagination > ol {
  display: grid;
  /* narrow of narrowest viewports: stacks prev, next links on separate rows, numbered links two in a row */
  grid-template-columns: repeat(auto, [col] minmax(var(--min-list-item-width), 1fr));
  grid-gap: 8px;
  margin-bottom: 1.5rem;
}

@media screen and (width >= 332px) {
  nav.pagination > ol {
    /* moderately narrow viewports: prev, next links side by side same row, numbered links four in a row below */
    grid-template-columns: repeat(4, [col] minmax(var(--min-list-item-width), 1fr));
  }
}

@media screen and (width >= 478px) {
  nav.pagination > ol {
    /* everything else / wider viewports: auto-fit all links in one row, overflowing to more rows if needed */
    grid-template-columns: repeat(auto-fit, [col] minmax(var(--min-list-item-width), 1fr));
  }
}

nav.pagination li a {
  width: 100%;
  padding: 0.75rem var(--spacing-mmd);
}

/* disabled previous and next links */
nav.pagination li a:not([href]) {
  color: var(--color-text);
  background-color: var(--color-background);
  border-color: var(--color-accent);
  cursor: initial;
}

/* previous and next links */
nav.pagination li:nth-child(-n+2) {
  grid-column: span 2;
}

nav.pagination li a[href][aria-current="page"] {
  background-color: var(--color-accent-secondary);
  outline: var(--focus-style-width) dotted var(--background-color);
  outline-offset: calc(-2 * var(--focus-style-width));
}

nav.pagination li a[href][aria-current="page"]:hover {
  background-color: var(--color-accent-secondary);
  border-color: transparent;
  color: var(--color-accent-invert);
}

/* reset focus outline style */
nav.pagination li a[href][aria-current="page"]:focus-visible {
  outline: 3px solid var(--background-color);
  outline-offset: 0;
}

@supports not selector(:focus-visible) {
  nav.pagination li a[href][aria-current="page"]:focus {
    outline: 3px solid var(--background-color);
    outline-offset: 0;
  }
}
