form[action*="formspree.io"] {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-xxxl);
}

.form-error-msg {
  font-style: italic;
}

/* spam honey pot */
/* see: https://help.formspree.io/hc/en-us/articles/360013580813-Honeypot-spam-filtering */
#s-h-p {
  display: none;
}
