main {
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: var(--spacing-xxl);
}

section:first-of-type {
  margin-top: calc(-1 * var(--spacing-xxl));
}

section:last-of-type {
  margin-bottom: 0;
}

section h2 {
  margin-top: 0;
}

.banner {
  aspect-ratio: 3 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  background-image: url("/img/clhenrick-landing-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  text-align: center;
  padding: var(--spacing-lg) var(--spacing-mmd) var(--spacing-xxl);
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: var(--border-radius);
}

@media screen and (min-width: 600px) {
  .banner-text {
    gap: 0;
    padding: var(--spacing-xs);
  }
}

.banner-text h1,
.banner-text p {
  color: var(--color-white);
  line-height: 1.1;
  -webkit-text-fill-color: var(--color-white);
}

.banner-text h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  -webkit-text-stroke: 1px #000;
  margin-bottom: 0;
}

.banner-text p {
  font-size: var(--text-size-h5);
  font-weight: bold;
  -webkit-text-stroke: 0.65px #000;
  max-width: 22ch;
}

@media screen and (min-width: 600px) {
  .banner-text p {
    max-width: initial;
  }
}

.cards-container {
  --card-margin: var(--spacing-mmd);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-mmd);
  margin-bottom: 0;
}

@media screen and (min-width: 900px) {
  .cards-container {
    --card-margin: var(--spacing-md);
    flex-direction: row;
    gap: var(--spacing-xl);
  }
}

.card {
  flex-grow: 1;
  flex-basis: content;
}

.card .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-mmd) 0;
}

.card .text > *:first-child {
  margin: 0;
}

.card .text > * + * {
  margin-top: var(--card-margin);
}

.card .text > *:last-child {
  margin-top: auto;
  min-width: 12rem;
}

.card .text > *:nth-last-child(2) {
  margin-bottom: var(--card-margin);
}

.card h3 {
  font-size: var(--text-size-h4);
}
