.permalink-wrapper {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
}

.permalink-wrapper > * {
  margin: 0;
}

.permalink-wrapper a[href] {
  text-decoration: none;
  padding: 0;
  line-height: var(--line-height-heading);
  padding-right: var(--spacing-md);
}

.permalink-wrapper h2 + a[href] {
  font-size: var(--text-size-h2);
}

.permalink-wrapper h3 + a[href] {
  font-size: var(--text-size-h3);
}

.permalink-wrapper h4 + a[href] {
  font-size: var(--text-size-h4);
}

.permalink-wrapper:has(:target) {
  color: var(--color-accent-invert);
  background: var(--color-accent);
}

.permalink-wrapper:has(:target) a[href] {
  color: var(--color-accent-invert);
}

/* TODO: undo transition on h1-h4 elements so both don't transition at once */
@media (prefers-reduced-motion: no-preference) {
  .permalink-wrapper,
  .permalink-wrapper a[href] {
    transition: background-color 1s ease-in-out;

    @starting-style {
      background-color: transparent;
    }
  }
}

img,
picture,
figure,
pre[class*="language-"],
color-legend {
  margin-bottom: var(--spacing-lg);
}

img,
picture {
  height: auto;
}

figure picture,
figure img {
  margin-bottom: var(--spacing-md);
}

dl.post-metadata dd {
  font-weight: bold;
}

dl > div.publish-date,
dl > div.updated-date,
dl > div.tags {
  gap: var(--spacing-xs);
  flex-wrap: wrap;
}

ul.links-nextprev {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-xs);
  flex-wrap: wrap;
}

/* NOTE: ensures the picture / img max-width is respected when the image shortcode renders the <picture> element inside a <p> tag, a result of using the shortcode in Markdown files. */
main p:has(picture) {
  max-width: 100%;
}

/* Description paragraph at the start of the post */
p.post-teaser {
  font-size: var(--text-size-h4);
  font-style: italic;
  text-wrap: balance;
}
