section,
div.md-block {
  margin-bottom: 2.5rem;
}

ul.screenshots,
ul.tech-tags {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  flex-wrap: wrap;
}

ul.screenshots {
  flex-direction: column;
  gap: 3rem;
}

ul.screenshots img,
ul.screenshots picture {
  height: auto;
}

nav.secondary {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 3rem;
}

nav.secondary span[aria-hidden] {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

nav.secondary a {
  text-decoration: none;
}

nav.secondary a:first-child {
  padding-right: var(--spacing-sm);
}

nav.secondary a:focus-visible {
  outline: var(--focus-style-outline);
}

@supports not selector(:focus-visible) {
  nav.secondary a:focus {
    outline: var(--focus-style-outline);
  }
}
