aside.callout {
  border: 1px solid var(--text-color);
  padding: var(--spacing-md);
  margin-block-end: var(--spacing-mmd);

  hr {
    border: none;
    border-block-start-width: 3px;
    border-block-start-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      var(--color-accent),
      var(--color-accent-secondary)
    );
    margin-block: var(--spacing-sm);
  }

  p.callout-title {
    font-size: var(--text-size-h5);
    font-weight: bold;
    margin-block-end: var(--spacing-sm);
  }
}
