@layer components {
  details {
    margin-bottom: var(--spacing-md);

    /* stylelint-disable no-descending-specificity */
    & > *:nth-child(2) {
      margin-top: var(--spacing-sm);
    }
  }

  summary {
    font-weight: bold;
    border-radius: var(--border-radius);
    padding: var(--spacing-xs) 0;
  }

  summary:hover {
    cursor: pointer;
    color: var(--color-accent);
  }

  summary:focus-visible {
    outline: var(--focus-style-outline);
    outline-offset: var(--focus-style-outline-offset);
  }

  /* keeps any block level child element on the same baseline as the disclosure widget triangle */
  summary > * {
    display: inline;
  }

  @supports not selector(:focus-visible) {
    summary:focus {
      outline: var(--focus-style-outline);
      outline-offset: var(--focus-style-outline-offset);
    }
  }
}
