:where(details) {
  margin-bottom: var(--spacing-md);
}

:where(summary) {
  font-weight: bold;
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-md);
}

:where(summary:hover) {
  cursor: pointer;
  color: var(--color-accent);
}

:where(summary:focus-visible) {
  outline: var(--focus-style-outline);
  outline-offset: var(--focus-style-outline-offset);
}
