article.kofi {
  display: flex;
  align-items: center;
  padding: var(--spacing-md);
  margin: var(--spacing-lg) 0;
  border: 2px solid var(--text-color);
  border-radius: var(--border-radius);
  background-color: var(--color-accent-invert);
}

article.kofi p {
  margin: 0;
}

article.kofi .emoji-coffee {
  font-size: 2rem;
  margin-left: var(--spacing-sm);
}
