ol.postlist li {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-xl);
}

ol.postlist li a > * {
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-sm);
}

ol.postlist li div {
  order: -1;
}
