.postlist article {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-xl);
}

/* postlist title, usually an h2 or h3 */
.postlist article > *:first-child {
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-md);
  max-width: 34ch;
}

.postlist article div {
  order: -1;
}
