fieldset#site-theme-toggle {
  display: none;
}

.js-enabled fieldset#site-theme-toggle {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-md);
  font-size: 1rem;
  border: none;
  padding: 0;
}

fieldset#site-theme-toggle span {
  font-weight: bold;
}

fieldset#site-theme-toggle label {
  text-transform: capitalize;
}

/* TODO: use existing .form-control styles from form-control.css after refactoring them */
fieldset#site-theme-toggle input[type="radio"]:focus {
  outline: none;
}

fieldset#site-theme-toggle .form-control {
  border-radius: var(--border-radius);
}

fieldset#site-theme-toggle .form-control:focus-within {
  outline: var(--focus-style-outline);
  outline-offset: var(--focus-style-outline-offset);
}
