---
layout: layouts/base.njk
title: Search
description: "Search the contents of Chris Henrick's website"
permalink: "/search/"
eleventyNavigation:
  key: Search
  order: 6
---

{%- set partials %}
  components/button,
  pages/search
{%- endset %}
{%- set bucket="search" %}
{% include "styles.njk" %}

<h1>
  {{title}}
</h1>

<p>Search the contents of this site using <a href="https://duckduckgo.com">DuckDuckGo</a>.</p>

<form
  accept-charset="utf-8"
  method="get"
  role="search"
  action="https://duckduckgo.com/"
  aria-labelledby="search-title"
>
  <h2 id="search-title" class="visually-hidden">Site</h2>
  <input type="hidden" name="ki" value="us-en">
  <input type="hidden" name="k1" value="-1">
  <label for="search-text">Search Query</label>
  <input id="search-text" name="q" type="text" value="site:{{metadata.title}} ">
  <button class="button" type="submit">Search</button>
</form>
