---
layout: layouts/base.njk
title: Search
description: "Search the contents of Chris Henrick's website"
permalink: "/search/"
eleventyNavigation:
  key: Search
  order: 6
---

{# NOTE: used by search.js, <a>, and <form> below #}
{%- set websiteName = metadata.url | replace("https://", "") %}
{%- set searchPrefix = ["site:", websiteName] | join %}

{%- set partials %}
  components/button,
  components/forms/form-controls,
  pages/search
{%- endset %}
{%- set bucket="search" %}
{% include "styles.njk" %}

<h1>
  {{title}}
</h1>

<p>Search the contents of this site using <a href="https://duckduckgo.com?q={{searchPrefix}}">DuckDuckGo</a>.</p>

{# NOTE: this form is progressively enhanced, it will work without JavaScript! #}
<form
  accept-charset="utf-8"
  method="get"
  role="search"
  action="https://duckduckgo.com/"
  aria-labelledby="search-title"
>
  <h2 id="search-title" class="visually-hidden">Site</h2>
  {# set region for search #}
  <input type="hidden" name="ki" value="us-en">
  {# disable ads in search results #}
  <input type="hidden" name="k1" value="-1">
  <label for="search-text">Search Query</label>
  <input
    id="search-text"
    name="q"
    type="text"
    {# NOTE: tried adding an <input type="hidden"> with the "site:name" value, but DDG seems to only keep the last "q" query param value, so it gets replaced by the users search query. #}
    value="{{ searchPrefix }} "
    required=""
  >
  <button class="button" type="submit">Search</button>
</form>


{%- set javascripts -%}
  search
{%- endset -%}
{%- set bucket = "search" %}
{%- include "scripts.njk" %}
