/* header used at the top of all pages, including site primary-navigation */
header.page-header {
  background-color: var(--background-color-secondary);
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
}

.page-header-inner {
  /* NOTE: keeps the nav.main-nav list dropdown a similar width to its corresponding link / list item */
  --min-nav-link-width: 6rem;
  --horiz-nav-item-gap: var(--spacing-sm);
  position: relative;
  max-width: var(--page-width-wide);
  margin: 0 auto;
}

/* NOTE: at 784px width switch to horizontal navigation */
@media screen and (width >= 748px) {
  .page-header-inner {
    padding: var(--spacing-xs) 0;
  }
}

.page-header a[href],
.page-header a[href]:visited {
  color: var(--color-accent);
}

.page-header a[href] {
  padding: var(--spacing-sm) var(--spacing-mmd);
  display: inline-block;
  text-decoration: none;
}

.page-header a[href]:hover {
  color: var(--color-accent-invert);
  background-color: var(--color-accent);
}

.page-header a[href]:focus-visible,
.page-header button.nav-button:focus-visible {
  outline: var(--focus-style-outline);

  /* NOTE: negative offset used to prevent focus indicator from being obscured */
  outline-offset: calc(-1 * var(--focus-style-width));
  box-shadow: none;
}

@supports not selector(:focus-visible) {
  .page-header a[href]:focus,
  .page-header button.nav-button:focus {
    outline: var(--focus-style-outline);

    /* NOTE: negative offset used to prevent focus indicator from being obscured */
    outline-offset: calc(-1 * var(--focus-style-width));
    box-shadow: none;
  }
}

.page-header a[href].skip-link {
  position: absolute;
  top: var(--main-nav-height);
  left: var(--spacing-md);
  background-color: var(--background-color-secondary);
  z-index: 1;
}

.page-header a[href].skip-link:focus-visible {
  height: auto;
  width: auto;
  clip-path: initial;
  overflow: initial;
  white-space: initial;
}

@supports not selector(:focus-visible) {
  .page-header a[href].skip-link:focus {
    height: auto;
    width: auto;
    clip-path: initial;
    overflow: initial;
    white-space: initial;
  }
}

.page-header a[href].skip-link:hover {
  /* prevents possible situation where text has very low contrast when skip link is visible and hovered on */
  color: inherit;
}

.page-header nav.main-nav {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  justify-content: space-between;
  isolation: isolate;
  z-index: 1;
}

@media screen and (width >= 748px) {
  .page-header nav.main-nav {
    grid-template-columns: auto 1fr;
    justify-content: initial;
  }
}

button.nav-button {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-weight: normal;
  color: var(--color-accent);
  background-color: transparent;
}

button.nav-button:hover {
  color: var(--color-accent-invert);
  background-color: var(--color-accent);
}

button.nav-button svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (width >= 748px) {
  button.nav-button {
    display: none;
  }
}

nav.main-nav ul.nav-list,
nav.main-nav ul.with-dropdown {
  margin: 0;
}

nav.main-nav ul.nav-list {
  grid-column: span 2;
}

@media screen and (width >= 748px) {
  nav.main-nav ul.nav-list {
    grid-column: span 1;
  }
}

.js-enabled nav.main-nav > ul {
  position: relative;
  display: none;
  text-align: center;
  background-color: var(--background-color-secondary);
}

.js-enabled nav.main-nav > ul.expanded {
  display: flex;
  flex-direction: column;
}

@media screen and (width >= 748px) {
  .js-enabled nav.main-nav > ul,
  nav.main-nav > ul {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: var(--horiz-nav-item-gap);
    align-items: baseline;
    text-align: start;
    margin-bottom: 0;
  }
}

nav.main-nav ul li a {
  border-bottom: 1px solid;
}

@media screen and (width >= 748px) {
  nav.main-nav ul > li:nth-last-child(2) {
    margin-left: auto;
  }

  nav.main-nav ul li a[href] {
    min-width: var(--min-nav-link-width);
    border-bottom: none;
  }
}

@media screen and (width >= 748px) {
  nav.main-nav ul li > ul.with-dropdown {
    display: none;
  }
}

nav.main-nav ul li,
nav.main-nav ul li a[href] {
  width: 100%;
}

@media screen and (width >= 748px) {
  nav.main-nav ul li,
  nav.main-nav ul li a[href] {
    width: auto;
  }
}
