{# video embed macro #}
{% macro embed(thumbnail, embedUrl, title, description) %}
  {# iframe embed technique credit: https://adrianroselli.com/2024/01/embed-slides-youtube-videos-and-more.html #}
  {% set srcdocStyle %}
    <style>
      * {
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      body,
      html,
      a {
        height: 100%;
      }
      body {
        background-image: url("/img/{{ thumbnail }}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      a[href] {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.75);
      }
      a[href]:focus-visible,
      a[href]:hover {
        color: white;
      }
      a[href]:focus-visible {
        outline-width: 3px;
        outline-offset: -3px;
        outline-style: solid;
        outline-color: white;
        box-shadow: inset 0 0 0 7px black;
      }
      svg {
        fill: currentColor;
      }
    </style>
  {% endset %}
  {% set svgIcon %}
    <a href="{{ embedUrl }}">
      <svg
        role="image"
        aria-label="play"
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        width="40%"
        height="40%"
        viewBox="0 0 60 60"
      >
        <path
          d="M30 0C13.458 0 0 13.458 0 30s13.458 30 30 30 30-13.458 30-30S46.542 0 30 0zm15.563 30.826-22 15a1.002 1.002 0 0 1-1.03.058A.999.999 0 0 1 22 45V15a.999.999 0 0 1 1.564-.826l22 15a1.001 1.001 0 0 1-.001 1.652z"
        />
      </svg>
    </a>
  {% endset %}

  <div style="--aspect-ratio: 16/9;margin-bottom:2.5rem;">
    <iframe
      width="960"
      height="569"
      src="{{ embedUrl }}"
      srcdoc="{{ srcdocStyle | replace("\n", "") }}{{ svgIcon | replace("\n", "") }}"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      title="{{ title }}"
    ></iframe>
  </div>

  {% if description %}
    <h3>Video Description</h3>
    {{ description | markdown | safe }}
  {% endif %}
{% endmacro %}
