<article class="kofi">
  <p>
    If you enjoyed this post feel free to
    <a href={{metadata.social.get("Ko-Fi")}}>
      buy me a coffee!
    </a>
  </p>
  <p class="emoji-coffee" aria-hidden="true">☕️</p>
</article>
