{# Ko-Fi marco #}
{# NOTE: AFAIK, metadata is not accessible from here so the Ko-Fi social URL has to be passed in from the parent #}
{% macro kofi(url, item = "post") %}
  <article class="kofi" aria-labelledby="kofi-title">
    <span id="kofi-title" hidden>Donate</span>
    <p>No generative AI or LLMs were used for creating any content in this website.</p>
    <p>
    So, if you enjoyed this {{ item }}, please feel free to
    <a href={{url}}>buy me a coffee</a>!
    <span class="kofi-emoji" aria-hidden="true">☕️</span>
    </p>
  </article>
{% endmacro %}
