<article class="kofi">
  <p>
    If you enjoyed this post feel free to
    <a href={{metadata.social.get("Ko-Fi")}}>
      buy me a coffee!
    </a>
    <span class="emoji-coffee" aria-hidden="true">☕️</span>
  </p>
</article>
