{# renders a nav list item for the primary / top-level desktop navigation #}
{% macro renderNavListItem(entry, pageUrl) %}
<li class="nav-item">
  <a
    {% if entry.children.length %} class="with-arrow-down" {% endif %}
    href="{{ entry.url }}"
    {% if entry.url == pageUrl %} aria-current="page"{% endif %}
  >
  {{ entry.title }}
  </a>
  {% if entry.children.length %}
    <ul role="list">
      {% for child in entry.children %}
        {{ renderNavListItem(child) }}
      {% endfor %}
    </ul>
  {% endif %}
</li>
{% endmacro %}
