{# Card component for use in work/index #}
{% macro projectCard(project) %}
<li class="card">
  <div class="img">
    <img
        src="/img/{{ project.thumb }}"
        alt=""
        loading="lazy"
        decoding="async"
      >
  </div>
  <div class="text">
    <h2>
      <a href="./{{ project.title | slugify }}/">{{ project.title }}</a>
    </h2>
    <p>{{ project.description }}</p>
    {% if project.tags %}
      <ul class="tags" role="list">
        {% for tag in project.tags %}
          <li class="tag">{{tag}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</li>
{% endmacro %}
