{%- macro secondarySiteNav(items, pageUrl) %}
<nav id="nav-secondary" aria-labelledby="secondary-site-nav-title">
  <span id="secondary-site-nav-title" hidden>More about Chris Henrick</span>
  <ul role="list">
    {%- for item in items %}
      <li>
        <a
          href="{{item.path}}"
          {% if pageUrl == item.path %} aria-current="page" {% endif %}
        >
          {{item.title}}
        </a>
      </li>
    {%- endfor %}
  </ul>
</nav>
{% endmacro %}
