<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {#- Atom and JSON feeds included by default #}
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

    {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    <meta name="generator" content="{{ eleventy.generator }}">

    {# NOTE: All common CSS used throughout the site are added here #}
    {%- set partials %}
      base/reset,
      base/base,
      base/utils,
      components/button,
      layouts/primary-navigation,
      layouts/footer
    {% endset %}
    {% include "styles.njk" %}
  </head>
  <body>
    <script>
      document.body.classList.add("js-enabled");
    </script>
    <header>
      <div>
        <a href="#main" class="visually-hidden skip-link">Skip to main content</a>
        <a href="/" class="home-link">{{ metadata.title }}</a>
        <button
          id="nav-menu"
          class="button nav-button"
          aria-expanded="false"
          aria-controls="primary-nav-list"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-hidden="true"
            fill="currentColor"
          >
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
          </svg>
          <span>Menu</span>
        </button>
      </div>
      <nav aria-labelledby="nav-title">
        <h2 id="nav-title" class="visually-hidden">Main navigation</h2>
        <ul id="primary-nav-list" class="nav-list" role="list">
          {% from "components/navListItem.njk" import renderNavListItem %}
          {% for entry in collections.all | eleventyNavigation %}
            {{ renderNavListItem(entry, page.url) }}
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main id="main">
      {{ content | safe }}
    </main>
    {%- include "footer.njk" %}

    {# NOTE: JavaScript shared by all pages are added here #}
    {%- set javascripts -%}
      primary-navigation
    {%- endset -%}
    {%- include "scripts.njk" -%}
  </body>
</html>
