<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {# Favicons, credit: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs #}
    <link rel="icon" href="/favicon/circle.ico" sizes="32x32">
    <link rel="icon" href="/favicon/circle.svg" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">

    {# Let's others know this site was created using 11ty #}
    <meta name="generator" content="{{ eleventy.generator }}">

    {# RSS feeds #}
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed.json" type="application/feed+json" title="{{ metadata.title }}">

    {# NOTE: All common CSS used throughout the site are added here #}
    {%- set partials %}
      base/reset,
      base/base,
      base/utils,
      components/button,
      layouts/header,
      layouts/footer
    {% endset %}
    {% include "styles.njk" %}
  </head>

  {# NOTE: data-page-size is used to set the max-width of <main> #}
  {%- set defaultPageSize = 'normal' %}
  <body data-page-size="{{pageSize or defaultPageSize}}">
    <script>
      document.body.classList.add("js-enabled");
    </script>

    {%- include "header.njk" %}

    <main id="main" tabindex="-1">
      {{ content | safe }}
    </main>

    {%- include "footer.njk" %}

    {# NOTE: JavaScript shared by all pages are added here #}
    {%- set javascripts -%}
      primary-navigation
    {%- endset -%}
    {%- include "scripts.njk" -%}
  </body>
</html>
