---
layout: layouts/base.njk
---
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/post.css" %}{% endcss %}

<style>{% getBundle "css" %}</style>

<h1>{{ title }}</h1>

{%- if teaser %}
<p>{{ teaser }}</p>
{%- endif %}

<dl class="post-metadata">
	<div class="publish-date">
    <dt>Published on:<dt>
    <dd><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></dd>
  </div>
  <div class="tags">
    <dt>Tagged in:</dt>
    {%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <dd><a href="{{ tagUrl }}" class="post-tag">#{{ tag }}</a></dd>
    {%- endfor %}
  </div>
</dl>

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev" role="list">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
